@media only screen and (min-width: 768px) and (max-width: 991px) {
body{
	font-size:14px;
}
.trendnews-meta span {
	font-size: 13px;
}
.navbar-nav {
    display: initial;
}
.main-menu .nav li {
    display: inline-block;
}
.main-menu .nav li a {
    padding: 22px 10px;
	font-size:13px;
}
.main-menu .nav li .dropdown li .dropdown.sub-menu {
	left: -120%;
}
.single-popular-list img {
	display: none !important;
}
.single-popular-list .trendnews-content {
	padding: 0;
}
.single-popular-list {
	margin-bottom: 15px;
}
.single-popular-list:last-child{
	margin:0;
}
.post-thumbnail-feature, .trend-newsletter,.small-video-list {
	margin-top: 30px;
}
.small-video-list {
	background: #fff;
	overflow: hidden;
}
.small-video-list .single-video {
	width: 50%;
	float: left;
	overflow: hidden;
}
.news-tabs .nav-tabs {
	position: relative;
	top: 0;
	margin-bottom: 10px;
}
.news-tabs .nav-tabs li a {
	padding: 10px 11px !important;
	font-size: 13px;
}
.tab-first-news .trendnews-content .news-title a {
	font-size: 18px;
}

.tab-news-right .news-head {
  display: none;
}
.tab-news-right .trendnews-content h4 a {
  font-size: 14px;
}
.breaking-post .break-inner {
	padding: 20px 10px;
}
.single-break .post-head, 
.single-break .post-cotent {
    float: none;
    width: auto;
    background: transparent;
    height: auto;
}
.single-break .post-head img {
	width: 85px;
	height: 85px;
}
.single-grid-news .trendnews-content h2 a {
    font-size: 18px;
}
.single-break .post-cotent h4 {
	font-size: 14px;
	margin: 10px 0;
}
.single-grid-news .trendnews-content h2 {
    line-height: 24px;
}
.post-one-single .news-head {
    float: none;
    margin-bottom: 10px;
    padding: 0;
}
.post-one-thumbnail .title-medium {
    font-size: 15px;
    line-height: 20px;
}
.main-menu .nav li .dropdown .tab-content .tab-single-post a{
	font-size:14px;
}
.menu-right .single-menu .icon span{
	display:none;
}
.menu-right .single-menu .icon {
	padding: 8px 18px;
}
.news-grid-slider .owl-controls .owl-nav div.owl-prev {
	left: 0;
}
.news-grid-slider .owl-controls .owl-nav div.owl-next {
	right: 0;
}
.top-slider-news-active {
	margin-bottom: 30px;
}
.post-one-single .news-title a {
	font-size: 13px;
}
.post-one-small .news-head img {
	width: 65px;
	height: 65px;
}
.hero-slider-tab .post-tab-sidebar {
	margin-top: 30px;
}
.hero-style-three .slider-head h2 {
	line-height: 40px;
}
.hero-style-three .slider-head h2 a {
	font-size: 35px;
}
.hero-style-three .single-slider {
	height: 500px;
}
.hero-style-three .slider-head {
	margin: 100px 0;
}
.category-archive .news-title a {
	font-size: 16px;
}
.category-inner .owl-controls .owl-nav div.owl-prev{
	left:0;
}
.category-inner .owl-controls .owl-nav div.owl-next {
	right: -10px;
}
.error-page .error-inner {
	display: inline-block;
	text-align: left;
	margin-top: 30px;
}
.header.blog .menu-right{
	display:none;
}
.popup-adver-inner {
	width: 400px;
	height: 400px;
	margin: -200px 0 0 -200px;
}
}
@media only screen and (max-width: 767px) {
body{
	font-size:14px;
}
.breadcrumbs {
	padding: 25px 0;
}
.topbar-nav .single-nav {
	display: block;
	text-align: center;
}
.breadcrumbs ul li a {
	font-size: 15px;
}
.breadcrumbs h2 {
	float: none;
	margin-bottom: 10px;
	font-size: 22px;
}
.blog-single .blog-title {
	font-size: 20px;
	line-height: 26px;
}
.hero-slider .slider-content h2 a {
  font-size: 20px;
}
.hero-slider .slider-content h2 {
  line-height: 24px;
}
.hero-slider .slider-content {
  padding: 15px;
  bottom: 0;
}
.hero-slider .slider-content .meta {
  margin-bottom: 5px;
}
.hero-slider .slider-content .read-more {
  margin-top: 10px;
}
.video-big-news .trendnews-content {
	position: relative;
	padding: 25px 25px;
	margin: 0;
	bottom: 0;
}
.video-big-news .trendnews-content h2 a {
	font-size: 20px;
}
.video-big-news{
	margin:0;
}
.small-video-list .video-head {
	position: relative;
}
.small-video-list .trendnews-content {
	padding: 0;
}
.main-menu{
	display:none;
}
.top-right {
	float: none;
	margin-top: 10px;
	overflow: visible;
	text-align: center;
}
.header .search-form {
	left: 0;
	z-index: 33333;
}
.breaking-news .single-slider {
	padding: 10px;
}
.breaking-news .single-slider h4 {
	margin: 0;
	padding: 0;
}
.breaking-news .owl-controls {
	position: relative;
	top: 0;
	margin-bottom: 15px;
}
.post-tab-sidebar .post-tab .nav li a {
	font-size: 14px;
	padding: 10px 8px;
	font-size: 13px;
}
.hero-big-slider .slider-content {
	position: relative;
	width: 100%;
	padding: 40px 20px;
	background: #040D34;
}
.featured-inner .post-text {
	margin: 0;
	padding: 20px;
	font-size: 15px;
}
.featured-inner .post-content h2 {
	font-size: 22px;
}

.trending-tags .title {
	width: 100%;
}
.trending-tags .tag-list ul li a {
	padding: 8px 0;
}
.top-right .side-icon,.top-right .top-social {
  display: inline-block;
  float: none;
}
.trendnews-meta span {
	font-size: 13px;
}
.navbar-nav {
    display: initial;
}
.main-menu .nav li {
    display: inline-block;
}
.main-menu .nav li a {
    padding: 22px 10px;
	font-size:13px;
}
.main-menu .nav li .dropdown li .dropdown.sub-menu {
	left: -120%;
}
.single-popular-list img {
	display: none !important;
}
.single-popular-list .trendnews-content {
	padding: 0;
}
.single-popular-list {
	margin-bottom: 15px;
}
.single-popular-list:last-child{
	margin:0;
}
.post-thumbnail-feature, .trend-newsletter,.small-video-list {
	margin-top: 30px;
}
.small-video-list {
	background: #fff;
	overflow: hidden;
}
.small-video-list .single-video {
	width: 100%;
	float: none;
	overflow: hidden;
}
.small-video-list .trendnews-content {
	padding: 0;
	margin-top: 10px;
}
.tab-first-news .trendnews-content {
	left: -8px;
}
.tab-news-right {
	margin-top: 30px;
	margin-bottom:30px;
}
.news-tabs .nav-tabs {
	position: relative;
	top: 0;
	margin-bottom: 10px;
}
.news-tabs .nav-tabs li a {
	padding: 10px 11px !important;
	font-size: 13px;
}
.tab-first-news .trendnews-content .news-title a {
	font-size: 18px;
}
.featured-news {
	padding: 30px 0 60px;
}
.trend-newsletter .content {
	position: relative;
	padding: 25px;
	left: 0;
	top: 0;
	transform: inherit;
}
.featured-news .grid-title {
	margin-top:30px;
}
.tab-news-right .news-head {
  display: none;
}
.tab-news-right .trendnews-content h4 a {
  font-size: 14px;
}
.breaking-post .break-inner {
	padding: 20px 10px;
}
.single-break .post-head, 
.single-break .post-cotent {
    float: none;
    width: auto;
    background: transparent;
    height: auto;
}
.single-break .post-head img {
	width: 85px;
	height: 85px;
}
.single-grid-news .trendnews-content h2 a {
    font-size: 18px;
}
.single-break .post-cotent h4 {
	font-size: 14px;
	margin: 10px 0;
}
.single-grid-news .trendnews-content h2 {
    line-height: 24px;
}
.post-one-single .news-head {
    float: none;
    margin-bottom: 10px;
    padding: 0;
}
.post-one-thumbnail .title-medium {
    font-size: 15px;
    line-height: 20px;
}
.main-menu .nav li .dropdown .tab-content .tab-single-post a{
	font-size:14px;
}
.menu-right .single-menu .icon span{
	display:none;
}
.menu-right .single-menu .icon {
	padding: 8px 18px;
}
.news-grid-slider .owl-controls .owl-nav div.owl-prev {
	left: 0;
}
.news-grid-slider .owl-controls .owl-nav div.owl-next {
	right: 0;
}
.top-slider-news-active {
	margin-bottom: 30px;
}
.post-one-single .news-title a {
	font-size: 13px;
}
.post-one-small .news-head img {
	width: 65px;
	height: 65px;
}
.hero-slider-tab .post-tab-sidebar {
	margin-top: 30px;
}
.hero-style-three .slider-head h2 {
	line-height: 25px;
}
.hero-style-three .slider-head h2 a {
	font-size: 25px;
}
.hero-style-three .single-slider {
	height: 500px;
}
.hero-style-three .slider-head {
	margin: 77px 0;
}
.category-archive .news-title a {
	font-size: 16px;
}
.category-inner .owl-controls .owl-nav div.owl-prev{
	left:0;
}
.category-inner .owl-controls .owl-nav div.owl-next {
	right: -10px;
}
.error-page .error-inner {
	display: inline-block;
	text-align: left;
	margin-top: 30px;
}
.hero-style-three .owl-controls .owl-nav div {
	width: 50px;
	height: 50px;
	line-height: 50px;
	padding: 0;
	margin-top:-25px;
}
.header.blog .menu-right{
	display:none;
}
.breadcrumbs h2 {
	float: none;
	margin-bottom: 20px;
}
.breadcrumbs .bread-list {
	float: none;
}
.tn-comments .single-comment.left {
  margin-left: 20px;
}
.tn-comments .single-comment .content a {
  margin: 10px 0 0;
}
.popup-adver-inner {
	width: 300px;
	height: 300px;
	margin: -150px 0 0 -150px;
}
}