/*Widgets*/

.custom_media_image,.custom_media_image_logo,.custom_media_image_1, .custom_media_image_footer_about{
padding-bottom: 10px ! important;
padding-top: 10px ! important;
max-width: 100% ! important;
}

.trend-news-remove-counter, .trend-news-remove-footer-about{
     background: #d9534f!important;
    color: #FFF ! important;
}

.custom_media_upload,.custom_media_upload_footer_about{
    background: #27a78f ! important;
    color: #FFF ! important;
}

div.category__widget_multicheck {
	margin-top: 10px;
	margin-bottom: 10px;
    height: 250px;
    display: block;
    overflow-y: scroll;
    border: 1px solid #eee;
    background-color: #f5f5f5;
}

div.category__widget-container {
	padding: 10px;
}